wireguard-go

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env

# Editor/IDE
# .idea/
# .vscode/

/.envrc
/.pre-commit-config.yaml
/.direnv

# Examples
examples/linux/linux
examples/windows/windows
examples/windows-pair-load/windows-pair-load
examples/linux-pair-load/linux-pair-load
examples/native_tun_pair/native_tun_pair
examples/http_request/http_request
examples/tcp_pingpong/tcp_pingpong
examples/udp_pingpong/udp_pingpong
examples/web_admin/web_admin

